html,
body {
	height: 100%;
	min-width: 1100px;
}

.titlep {
	color: #E94F25;
	font-size: 10px;
	line-height: 14px;
	font-weight: 700;
}

.titley {
	color: #E94F25;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
}

.zhongwen {
	font-size: 14px;
	color: #283452;
	line-height: 16px;
	font-weight: 700;
}

.yingwen {
	font-size: 18px;
	color: #283452;
	line-height: 20px;
	font-weight: 700;
}


/*顶部开始*/

.box {
	width: 1100px;
	position: relative;
	top: 0px;
	left: 50%;
	margin-left: -550px;
	padding: 0 20px;
	box-sizing: border-box;
	height: 1750px;
	z-index: 50;
	overflow: hidden;
	min-width: 953px;
	border: 5px solid #E94F25;
}

.lo-ss {
	width: 100%;
	margin: 0 auto;
}


/*logo搜索开始*/

.loss {
	height: 68px;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px 2%;
	box-sizing: border-box;
}

.logo {
	float: left;
	margin-top: 20px;
	font-size: 26px;
	line-height: 40px;
	color: #283452;
	font-weight: 700;
	letter-spacing: 8px;
}
.logo a{
	color: #283452;
}
.ssuo {
	float: right;
	width: 320px;
	height: 30px;
	margin-top: 20px;
	position: relative;
}

.ssuo input {
	float: left;
	width: 76%;
	height: 27px;
	padding: 0 10px;
	border: 2px solid #888888;
	border-radius: 3px;
}

.ssuo .search {
	background: #283452;
	float: left;
	width: 30px;
	height: 26px;
	margin-left: 3%;
	padding: 5px 7px;
	box-sizing: border-box;
	border-radius: 3px;
}

.ssuo .search img {
	width: 16px;
}

.ssuo .all {
	width: 30px;
	position: absolute;
	top: -2px;
	right: 0px;
}

.ssuo .all img {
	width: 30px;
}


/*logo搜索结束*/
/*顶部开始*/
.top-area-content {
	margin-top: 40px;
	position: relative;
	padding-left: 2%;
	box-sizing: border-box;
	top: 50px;
	left: 0px;
}

.top-area-content>div {
	float: left;
	margin-right: 2%;
}

.top-area-content .content-menu {
	margin-top: 20px;
	width: 18%;
}

.content-menu .big-menu {
	padding-left: 15px;
	box-sizing: border-box;
}

.content-menu .big-menu li {
	width: 150px;
	color: #888888;;
	margin-bottom: 10px;
	font-weight: 700;
}

.content-menu .big-menu li.menu-acticve {
	position: relative;
}

.content-menu .big-menu .menu-acticve:hover span {
	display: block;
}

.content-menu .big-menu li span {
	display: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #E94F25;
	position: absolute;
	top: 10px;
	left: -15px;
}

.top-area-content .content-about {
	width: 28%;
}

.content-about .content-about-me li {
	width: 230px;
	color: #283452;
	margin-bottom: 30px;
}

.content-about .content-about-me li span {
	font-size: 24px;
}

.top-area-content .content-about .jianjie p {
	text-indent: 2em;
	line-height: 20px;
}

.top-area-content .content-img {
	width: 50%;
	margin-right: 0px;
}

.top-area-content .content-img img {
	height: 740px;
	float: right;
}
/*顶部结束*/
/*底部开始*/
.bottom-area {
	height: 800px;
	position: relative;
	top: 100px;
	left: 0px;
}

.bottom-area .bgceng {
	height: 500px;
	width: 1000px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.bottom-area .bgceng img {
	width: 1000px;
}

.bottom-area .bottom-area-title {
	height: 800px;
	padding-left: 25px;
	box-sizing: border-box;
	background-color: #FFFFFF;
}

.bottom-area-title .title li {
	margin-bottom: 20px;
	position: relative;
}

.bottom-area-title .title .menu-acticve:hover span {
	display: block;
}

.bottom-area-title .title li span {
	display: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #E94F25;
	position: absolute;
	top: 10px;
	left: -15px;
}
.bottom-area .logo-yun {
	width: 18%;
	height: 78px;
	position: relative;
}

.bottom-area .logo-yun>img {
	width: 150px;
	position: absolute;
	top: -55px;
	left: 0px;
}
.bottom-area-title .bottom-menu {
	width: 850px;
	height: 500px;
	margin-top: 112px;
}

.bottom-area-title .bottom-menu li {
	width: 18%;
	margin-right: 2%;
	float: left;
	position: relative;
}

.bottom-area-title .bottom-menu li>i {
	position: absolute;
	top: -30px;
	width: 20px;
	height: 20px;
	color: #283452;
	font-size: 20px;
}

.bottom-area-title .bottom-menu li>span {
	position: absolute;
	top: 75px;
	display: block;
	width: 99%;
	text-indent: 2em;
	line-height: 20px;
	text-align: justify;
	text-justify: inter-ideograph;/*IE*/
	font-weight: 500;
}

.bottom-area-title .bottom-menu li:nth-of-type(1) {
	width: 15%;
}

.bottom-area-title .bottom-menu li:nth-of-type(5) {
	width: 21%;
}
/*底部结束*/