body {
	background-color: #E5EBEE;
}

.content {
	width: 75%;
	border: 6px solid #E94F25;
	border-top: 0px;
}

.titlep {
	color: #E94F25;
	font-size: 10px;
	line-height: 14px;
	font-weight: 700;
}

.titley {
	color: #E94F25;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
}
.zhongwen {
	font-size: 14px;
    color: #000000;
    line-height: 16px;
    font-weight: 700;
}

.yingwen {
	font-size: 18px;
    color: #000000;
    line-height: 20px;
    font-weight: 700;
}

/*----------------top-area---------------*/

.top-area {
	width: 100%;
	height: 900px;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-size: cover;
}

.top-area .top-area-line {
	width: 100%;
	height: 6px;
	background-color: #E94F25;
}


/*顶部菜单*/

.top-area .top-area-menu {
	width: 100%;
	height: 40px;
	padding: 0px 40px;
	box-sizing: border-box;
	/*background-color: red;*/
	position: relative;
}

.top-area-menu .menu-logo {
	margin-top: 30px;
	font-size: 26px;
	line-height: 40px;
	color: #283452;
	font-weight: 700;
	letter-spacing: 8px;
}

.top-area-menu .menu {
	position: absolute;
	top: 10px;
	left: 250px;
}

.top-area-menu .menu .menu-items {
	float: left;
	margin-right: 40px;
	font-weight: 700;
}

.top-area-menu .menu .menu-items:hover {
	border-bottom: 4px solid #E94F25;
}

.top-area-menu .menu-input {
	position: absolute;
	top: 10px;
	left: 750px;
}

.top-area-menu .menu-input input {
	height: 30px;
	width: 180px;
}

.top-area-menu .menu-input span {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 200px;
	background-color: #283452;
	border-radius: 5px;
}

.top-area-menu .menu-input span img {
	width: 16px;
	margin: 7px;
}

.top-area-menu .menu-input>img {
	position: absolute;
	top: -3px;
	left: 240px;
	height: 36px;
}


/*顶部*/

.top-area .top-area-content {
	width: 100%;
	height: 900px;
	margin-top: 40px;
	box-sizing: border-box;
	background-size: cover;
	position: relative;
	/*background-color: red;*/
}

.top-area-content>div {
	float: left;
	margin-right: 2%;
}

.top-area-content .content-menu {
	width: 18%;
}
.content-menu .big-menu{
	padding-left: 25px;
	box-sizing: border-box;
}
.content-menu .big-menu li{
	width: 150px;
	color: #B1C0C8;
	margin-bottom:10px;
	font-weight: 700;
}
.content-menu .big-menu li.menu-acticve{
	position: relative;
}
.content-menu .big-menu .menu-acticve:hover span{
	display: block;
}
.content-menu .big-menu li span{
	display: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #E94F25;
	position: absolute;
	top: 10px;
	left: -15px;
}
.top-area-content .content-about {
	width: 28%;
	height: 100px;
	/*background-color: green;*/
}
.content-about .content-about-me li{
	width: 230px;
	color: #283452;
	margin-bottom:30px;
}

.content-about .content-about-me li span{
	font-size: 24px;
}

.top-area-content .content-about .jianjjie p{
	text-indent: 2em;
}




















.top-area-content .content-img {
	width: 50%;
	background-color: pink;
	margin-right: 0px;
}

.top-area-content .content-img img {
	height: 634px;
	border: 0;
}
/*----------------bottom-area---------------*/

.bottom-area {
	width: 100%;
	height: 80px;
	background-color: #283452;
}