html,
body {
	height: 100%;
	min-width: 1100px;
}

.box {
	position: relative;
	width: 100%;
	height: 900px;
	z-index: 50;
	overflow: hidden;
	min-width: 953px;
}
/*顶部背景开始*/
.imgList {
	position: relative;
	height: 900px;
}

.imgList li {
	position: absolute;
	height: 900px;
	left: 0;
	top: 0;
	width: 100%;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100%;
}

.imgList a {
	display: block;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-color: #B1C0C8;
	background-position: center center;
	background-size: inherit;
}
/*顶部背景结束*/
.lo-ss {
	width: 1100px;
	margin: 0 auto;
}


/*logo搜索开始*/
.loss {
	height: 68px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -550px;
	padding: 0 20px;
	box-sizing: border-box;
}

.logo {
	float: left;
	margin-top: 20px;
	font-size: 26px;
	line-height: 40px;
	color: #FFFFFF;
	font-weight: 700;
	letter-spacing: 5px;
}
.logo a,
.logo a:focus{
	color: #FFFFFF;
}
.menu {
	margin-top: 30px;
	margin-left: 40px;
}

.menu .menu-items {
	float: left;
	margin-right: 40px;
	font-weight: 700;
}
.menu .menu-items a{
	color: #283452;
}
.menu .menu-items:hover {
	border-bottom: 4px solid #E94F25;
}

.ssuo {
	float: right;
	width: 320px;
	height: 30px;
	margin-top: 20px;
	position: relative;
}

.ssuo input {
	float: left;
	width: 73%;
	height: 27px;
	padding: 0 10px;
	border: none;
}

.ssuo .search {
	background: #283452;
	float: left;
	width: 30px;
	height: 26px;
	margin-left: 3%;
	padding: 5px 7px;
	box-sizing: border-box;
	border-radius: 3px;
}

.ssuo .search img {
	width: 16px;
}

.ssuo .all {
	width: 40px;
	position: absolute;
	top: -6px;
	right: 0px;
}

.ssuo .all img {
	width: 40px;
}
/*logo搜索结束*/


/*顶部主题开始*/

.top-area-title {
	height: 450px;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -550px;
	padding: 0px 20px;
	box-sizing: border-box;
}

.top-area-title .left-title {
	width: 70%;
}

.top-area-title .left-title>a {
	margin-bottom: 40px;
}

.left-title a .zhongwen {
	font-size: 36px;
	font-family: 宋体;
	line-height: 40px;
	color: #FFFFFF;
	letter-spacing: 1px;
}

.left-title a .yingwen {
	width: 85%;
	font-size: 24px;
	font-family: Times New Roman;
	line-height: 24px;
	letter-spacing: 2px;
	word-spacing: 5px;
	color: #FFFFFF;
}

.left-title a span,
.right-title span {
	display: block;
	width: 20px;
	height: 20px;
}

.left-title a span img,
.right-title span img {
	width: 20px;
}

.left-title .two-title .zhongwen {
	font-size: 24px;
	line-height: 28px;
}

.left-title .two-title .yingwen {
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 1px;
	word-spacing: 3px;
}
/*扇形部分开始*/
.top-area-title .right-title {
	width: 25%;
	height: 220px;
	margin-left: 5%;
	margin-top: 10%;
}

.right-title .right-yuan {
	width: 90%;
	height: 220px;
	position: relative;
}

.right-title .right-yuan .huan1 {
	position: absolute;
	top: 20px;
	width: 200px;
	height: 200px;
	background-color: #283452;
	border-radius: 50%;
}

.right-title .right-yuan .huan2 {
	position: absolute;
	top: 5px;
	left: 105PX;
	width: 110px;
	height: 110px;
	background-color: #E94F25;
	border-radius: 0 110px 0 0;
}

.right-title .right-yuan .huan3 {
	position: absolute;
	top: 45px;
	left: 25PX;
	width: 150px;
	height: 150px;
	background-color: #FFFFFF;
	border-radius: 50%;
	color: #283452;
}

.right-yuan .huan3 h3 {
	position: absolute;
	top: 40px;
	left: 25px;
	font-size: 24px;
}

.right-yuan .huan3 h3:last-child {
	top: 70px;
	font-size: 30px;
	font-family: tahoma;
}

.right-yuan .huan3 h3 span {
	display: block;
	position: absolute;
	top: -18px;
	left: 15px;
	font-size: 40px;
	font-weight: 700;
}

.right-title>span {
	margin-top: 110px;
}
/*扇形部分结束*/ /*顶部主题结束*/
/*轮播开始*/
.banner {
	height: 400px;
	background-color: #FFFFFF;
	position: absolute;
	top: 480px;
	left: 50%;
	margin-left: -550px;
}

.banner .banner-content{
	height: 350px;
	/*background-color: red;*/
	position: relative;
}
.banner-content .banner-title{
	width: 38%;
	height: 40px;
	font-weight: 700;
	/*background-color: green;*/
	margin-left: 5%;
	margin-top: 10px;
}

.banner-content .banner-title>p:nth-of-type(1) {
	font-size: 16px;
	line-height: 16px;
}

.banner-content .banner-title p:nth-of-type(2) {
	font-size: 22px;
	line-height: 22px;
	font-family: tahoma;
}
.banner-content .banner-title>p>a,
.banner-content .banner-title>p>a:focus{
	color: #283452;
}

.banner-content .banner-video{
	width: 100%;
	height: 310px;
	position: relative;
	/*background-color: pink;*/
}

.banner-content .banner-video .ddd{
	width: 40%;
	float: left;
	margin-top: 100px;
	margin-left: 5%;
}

.banner-content .banner-video .imgVideo{
	width: 55%;
	float: right;
	overflow: hidden;
}
.banner-video .imgVideo>video,
.banner-video .imgVideo>img{
	width: 550px;
	height: 310px;
}

.banner-video .banner-span{
	position: absolute;
	top: 280px;
	left: -455px!important;
	
}

.banner-video .banner-span span {
	margin-right: 10px;
}











.banner .banner-footer {
	margin-top: 10px;
	width: 100%;
	height: 30px;
	background-color: #E94F25;
}

/*.banner .banner-content {
	padding: 16px 20px;
	box-sizing: border-box;
	height: 250px;
}

.banner .banner-content .banner-title,
.banner .banner-content .banner-video {
	width: 30%;
	height: 168px;
	font-weight: 700;
	margin-right: 15%;
}


.banner .banner-title .lunbo-txt{
	margin-top: 10px;
}
.banner .banner-title .lunbo-txt li>p{
	font-size: 12px;
	color: #283452;
}
.banner .banner-title .banner-span {
	margin-top: 30px;
	width: 26%;
}
.banner .banner-span span {
	margin-right: 10px;
}

/*顶部banner视频部分*/

/*.banner .banner-content .banner-video {
	width: 55%;
	height: 168px;
	color: #FFFFFF;
	margin-right: 0;
	overflow: hidden;
}

.banner .banner-footer {
	width: 100%;
	height: 30px;
	background-color: #E94F25;
}*/
/*轮播结束*/

/*底部主题开始*/
.daohang {
	height: 750px;
	padding: 0 20px;
	box-sizing: border-box;
	position: relative;
}
.daohang .logo a{
	color: #283452;
}
.si-dh{
	position: absolute;
}
.si-dh li {
	width: 100%;
	height: 40px;
	margin-top: 20px;
	color: #283452;
	font-size: 26px;
	line-height: 40px;
	font-weight: 700;
	letter-spacing: 5px;
}
.middle-area-content {
	margin: 0 auto;
	position: absolute;
	top: 65px;
	/*background-color: red;*/
}

.middle-area-content {
	margin: 0px 40px;
}

.middle-area-content .logo-yun {
	width: 20%;
	height: 200px;
	position: relative;
}

.middle-area-content .logo-yun img {
	width: 150px;
	position: absolute;
	top: 0px;
	left: -55px;
}

.middle-area-content .menu-list{
	width: 78%;
	height: 50px;
	/*background-color: green;*/
}

.middle-area-content .menu-list ul li {
	width: 24%;
	float: left;
	margin-right: 2%;
	font-size: 14px;
	color: #283452;
	line-height: 16px;
	font-weight: 700;
}
.middle-area-content .menu-list ul li>a{
	color: #283452;
}

.middle-area-content .menu-list>ul li:nth-of-type(2),
.middle-area-content .menu-list-item>ul:nth-of-type(2){
	width: 26%;
}

.middle-area-content .menu-list>ul li:nth-of-type(3),
.middle-area-content .menu-list>ul li:nth-of-type(4),
.middle-area-content .menu-list-item>ul:nth-of-type(3),
.middle-area-content .menu-list-item>ul:nth-of-type(4){
	width: 21%;
}
.middle-area-content .menu-list>ul li p:last-child {
	font-size: 18px;
	line-height: 20px;
}
.middle-area-content .menu-list-item{
	width: 100%;
}
.middle-area-content .menu-list-item>ul{
	width: 24%;
	float: left;
	margin-right: 2%;
	font-weight: 600;
}
.middle-area-content .menu-list-item>ul li{
	width: 100%;
	margin-top: 20px;
	font-size: 8px;
	line-height: 12px;
	font-weight: 600;
}
.middle-area-content .menu-list-item>ul li a{
	color: #283452;
}
.middle-area-content .menu-list-item>ul li p:last-child{
	font-size: 12px;
	line-height: 16px;
}
.titlep{
	color: #E94F25;
	font-size:13px ;
	line-height: 14px;
	font-weight: 700;
}
.titley{
	color: #E94F25;
	font-size:14px ;
	line-height: 18px;
	font-weight: 700;
}
/*底部主题结束*/
.bottom-area {
	width: 100%;
	height: 80px;
	background-color: #283452;
}
