html,
body {
	height: 100%;
	min-width: 1100px;
}
.titlep{
	color: #E94F25;
	font-size:10px ;
	line-height: 14px;
	font-weight: 700;
}
.titley{
	color: #E94F25;
	font-size:14px ;
	line-height: 18px;
	font-weight: 700;
}
.zhongwen{
	font-size: 14px;
	color: #283452;
	line-height: 16px;
	font-weight: 700;
}
.xzhongwen{
	font-size: 10px;
	color: #283452;
	line-height: 16px;
	font-weight: 700;
}
.yingwen{
	font-size: 18px;
	color: #283452;
	line-height: 20px;
	font-weight: 700;
}
.xyingwen{
	font-size: 14px;
	color: #283452;
	line-height: 20px;
	font-weight: 700;
}

.box {
	position: relative;
	width: 100%;
	height: 2000px;
	z-index: 50;
	overflow: hidden;
	min-width: 953px;
}

.lo-ss {
	width: 1100px;
	margin: 0 auto;
}
/*logo搜索开始*/
.loss {
	width: 1100px;
	height: 68px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -550px;
	padding: 0px 20px;
	box-sizing: border-box;
	border: 5px solid #E94F25;
	border-width: 5px 5px 0px 5px;
	
}

.logo {
	float: left;
	margin-top: 20px;
	font-size: 26px;
	line-height: 40px;
	color: #283452;
	font-weight: 700;
	letter-spacing: 8px;
}

.menu {
	margin-top: 30px;
	margin-left: 40px;
}

.menu .menu-items {
	float: left;
	margin-right: 40px;
	font-weight: 700;
}

.menu .menu-items:hover {
	border-bottom: 4px solid #E94F25;
}

.ssuo {
	float: right;
	width: 320px;
	height: 30px;
	margin-top: 20px;
	position: relative;
}

.ssuo input {
	float: left;
	width: 76%;
	height: 27px;
	padding: 0 10px;
	border: 2px solid #888888;
	border-radius: 3px;
}

.ssuo .search {
	background: #003660;
	float: left;
	width: 30px;
	height: 26px;
	margin-left: 3%;
	padding: 5px 7px;
	box-sizing: border-box;
}

.ssuo .search img {
	width: 16px;
}

.ssuo .all {
	width: 30px;
	position: absolute;
	top: -2px;
	right: 0px;
}

.ssuo .all img {
	width: 30px;
}

/*logo搜索结束*/

/*顶部标题开始*/
.top-area-content {
	height: 900px;
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -550px;
	padding: 0 20px;
	box-sizing: border-box;
	border: 5px solid #E94F25;
	border-width: 0px 5px 0px 5px;
}
.top-area-content .bgceng {
	height: 700px;
	width: 935px;
	position: absolute;
	top: 40px;
	right: 0px;
}

.top-area-content .bgceng img {
	width: 965px;
}
.top-area-content>div {
	float: left;
	margin-right: 2%;
}

.top-area-content .top-content{
	position: absolute;
	top: 158px;
	left: 2%;
}

.top-area-content .top-content .firstul{
	width: 636px;
	margin: 10px 0px;
}
.top-content .firstul .titlep{
	font-size: 58px;
	color: #283452;
	line-height: 74px;
	letter-spacing:2px;
	text-indent:0;
	font-weight: 500;
}
.top-content .firstul p{
	text-indent: 2em;
	text-align: justify;
    text-justify: inter-ideograph;/*IE*/
}
.top-content .firstul p:nth-of-type(3),
.top-content .firstul p:nth-of-type(4){
	font-size: 42px;
	letter-spacing:0px;
	line-height: 50px;
	font-weight: 500;
}
.top-content .firstul p:nth-of-type(4){
	margin-bottom: 20px;
}
.top-area-content .info{
	width: 340px;
	height: 220px;
	position: absolute;
	top: 330px;
	right: 10px;
	font-size: 12px;
	font-weight: 600;
}
.top-area-content .login{
	height: 326px;
	position: absolute;
	left: 50%;
	bottom: -1px;
	margin-left: -550px;
	padding: 0px 20px;
	box-sizing: border-box;
}
.top-area-content .login>img{
	width: 100%;
}
.top-area-content .login-area{
	width: 325px;
	height: 160px;
	position: absolute;
	bottom: 30px;
	right: 50px;
}
.top-area-content .login-area .btn-a{
	margin-bottom: 20px;
	letter-spacing:-3px;
}
.top-area-content .btn-a a{
	display: inline-block;
	color: #FFFFFF;
	font-size: 14px;
	width: 50px;
	text-align: center;
	padding: 0px 4px;
	box-sizing: border-box;
	letter-spacing:0;
}
.top-area-content .btn-a a:first-child{
	border: 2px solid #FFFFFF;
	border-width: 0px 2px 0px 0px;
}
.top-area-content .login-area .btn-input{
}
.top-area-content .btn-input label{
	display: block;
	width: 315px;
	height: 30px;
	margin-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	border: 1px solid #888888;
}
.top-area-content .btn-input i{
	color: #E94F25;
	font-size: 16px;
}
.top-area-content .btn-input input{
	width: 270px;
	height: 28px;
	border: 0px;
	font-size: 10px;
	line-height: 28px;
	float: right;
}
.top-area-content .login-area .btn-login{
	
}
.top-area-content .btn-login button{
	width: 155px;
	height: 26px;
	text-align: center;
	font-size: 10px;
	background-color: #9194AC;
	border: 0px;
}
/*顶部标题结束*/
/*底部部分开始*/
.bottom-area {
	height: 900px;
	position: absolute;
	top: 940px;
	left: 50%;
	margin-left: -550px;
	padding: 0 20px;
	box-sizing: border-box;
	border: 5px solid #E94F25;
	border-width: 0px 5px  5px 5px;
	background-color: #FFFFFF;
}

/*底部部分结束*/
