html,
body {
	height: 100%;
	min-width: 1100px;
}
.titlep{
	color: #E94F25;
	font-size:13px ;
	line-height: 14px;
	font-weight: 700;
}
.titley{
	color: #E94F25;
	font-size:14px ;
	line-height: 18px;
	font-weight: 700;
}
.zhongwen{
	font-size: 14px;
	color: #283452;
	line-height: 16px;
	font-weight: 700;
}
.xzhongwen{
	font-size: 10px;
	color: #283452;
	line-height: 16px;
	font-weight: 700;
}
.yingwen{
	font-size: 18px;
	color: #283452;
	line-height: 20px;
	font-weight: 700;
}
.xyingwen{
	font-size: 14px;
	color: #283452;
	line-height: 20px;
	font-weight: 700;
}

.box {
	position: relative;
	width: 100%;
	height: 2000px;
	z-index: 50;
	overflow: hidden;
	min-width: 953px;
}

.lo-ss {
	width: 1100px;
	margin: 0 auto;
}
/*logo搜索开始*/
.loss {
	height: 68px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -550px;
	padding: 0px 20px;
	box-sizing: border-box;
	border: 5px solid #E94F25;
	border-width: 5px 5px 0px 5px;
	
}

.logo {
	float: left;
	margin-top: 20px;
	font-size: 26px;
	line-height: 40px;
	color: #283452;
	font-weight: 700;
	letter-spacing: 5px;
}
.logo a{
	color: #283452;
}

.menu {
	margin-top: 30px;
	margin-left: 40px;
}

.menu .menu-items {
	float: left;
	margin-right: 40px;
	font-weight: 700;
}

.menu .menu-items:hover {
	border-bottom: 4px solid #E94F25;
}

.ssuo {
	float: right;
	width: 320px;
	height: 30px;
	margin-top: 20px;
	position: relative;
}

.ssuo input {
	float: left;
	width: 76%;
	height: 27px;
	padding: 0 10px;
	border: 2px solid #888888;
	border-radius: 3px;
}

.ssuo .search {
	background: #283452;
	float: left;
	width: 30px;
	height: 26px;
	margin-left: 3%;
	padding: 5px 7px;
	box-sizing: border-box;
	border-radius: 3px;
}

.ssuo .search img {
	width: 16px;
}

.ssuo .all {
	width: 30px;
	position: absolute;
	top: -2px;
	right: 0px;
}

.ssuo .all img {
	width: 30px;
}

/*logo搜索结束*/

/*顶部标题开始*/
.top-area-content {
	height: 1400px;
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -550px;
	padding: 0 20px;
	box-sizing: border-box;
	border: 5px solid #E94F25;
	border-width: 0px 5px 5px 5px;
}
.top-area-content .bgceng {
	height: 700px;
	width: 935px;
	position: absolute;
	top: 40px;
	right: 0px;
}

.top-area-content .bgceng img {
	width: 957px;
}
.top-area-content>div {
	float: left;
	margin-right: 2%;
}

.top-area-content .content-menu {
	margin-top: 40px;
	width: 25%;
}

.content-menu .big-menu {
	padding-left: 10px;
	box-sizing: border-box;
}

.content-menu .big-menu li{
	width: 170px;
	color: #888888;;
	margin-bottom: 10px;
	font-weight: 700;
}

.content-menu .big-menu li.menu-acticve {
	position: relative;
}

.content-menu .big-menu .menu-acticve:hover span {
	display: block;
}

.content-menu .big-menu li span {
	display: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #E94F25;
	position: absolute;
	top: 10px;
	left: -15px;
}
.top-area-content .top-content{
	position: absolute;
	top: 70px;
	right: 16%;
}

.top-area-content .top-content .firstul{
	width: 636px;
	height: 800px;
	margin: 10px 0px;
	overflow: hidden;
}
.top-content .firstul ul>li{
	width: 47%;
	height: 140px;
	float: left;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-top: 5px;
	box-sizing: border-box;
}
.top-content .firstul ul>li:nth-of-type(odd){
	margin-right: 6%;
}
.top-content .firstul ul li>span{
	width: 20px;
	height: 20px;
	display: block;
	border-radius: 5px;
	background-color: #283452;
}
.top-content .firstul ul li a>p{
	font-size: 10px;
	line-height: 1.5;
	color: #283452;
}
.top-content .firstul ul li a>p.titley,
.top-content .firstul ul li a>p.titlep{
	font-size: 12px;
	font-weight: 700;
}
/*顶部标题结束*/

