body {
	background-color: #E5EBEE;
}

.content {
	width: 75%;
	border: 6px solid #E94F25;
	border-top: 0px;
}

.titlep {
	color: #E94F25;
	font-size: 10px;
	line-height: 14px;
	font-weight: 700;
}

.titley {
	color: #E94F25;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
}

.zhongwen{
	font-size: 14px;
	color: #000000;
	line-height: 16px;
	font-weight: 700;
}
.xzhongwen{
	font-size: 10px;
	color: #000000;
	line-height: 16px;
	font-weight: 600;
}
.yingwen{
	font-size: 18px;
	color: #000000;
	line-height: 20px;
	font-weight: 700;
}
.xyingwen{
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	font-weight: 600;
}


/*----------------top-area---------------*/

.top-area {
	width: 100%;
	height: 840px;
	background-color: #FFFFFF;
	position: relative;
}

.top-area .top-area-line {
	width: 100%;
	height: 6px;
	background-color: #E94F25;
}
.top-area .bgceng{
	height: 500px;
	width: 800px;
	position: absolute;
	top: 85px;
	left: 170px;
}
.top-area .bgceng img{
	width: 885px;
}
/*顶部菜单*/

.top-area .top-area-menu {
	width: 100%;
	height: 40px;
	padding: 0px 25px;
	box-sizing: border-box;
	/*background-color: red;*/
	position: relative;
}

.top-area-menu .menu-logo,
.bottom-logo .menu-logo {
	margin-top: 30px;
	font-size: 26px;
	line-height: 40px;
	color: #283452;
	font-weight: 700;
	letter-spacing: 8px;
}

.top-area-menu .menu-input {
	position: absolute;
	top: 10px;
	left: 750px;
}

.top-area-menu .menu-input input {
	height: 30px;
	width: 180px;
}

.top-area-menu .menu-input span {
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 200px;
	background-color: #283452;
	border-radius: 5px;
}

.top-area-menu .menu-input span img {
	width: 16px;
	margin: 7px;
}

.top-area-menu .menu-input>img {
	position: absolute;
	top: -3px;
	left: 240px;
	height: 36px;
}


/*顶部*/

.top-area .top-area-content {
	width: 100%;
	margin-top: 40px;
	box-sizing: border-box;
	background-size: cover;
	position: relative;
	/*background-color: red;*/
}

.top-area-content>div {
	float: left;
	margin-right: 2%;
}

.top-area-content .content-menu {
	width: 18%;
}

.content-menu .big-menu {
	padding-left: 25px;
	box-sizing: border-box;
}

.content-menu .big-menu li {
	width: 150px;
	color: #B1C0C8;
	margin-bottom: 10px;
	font-weight: 700;
}

.content-menu .big-menu li.menu-acticve {
	position: relative;
}

.content-menu .big-menu .menu-acticve:hover span {
	display: block;
}

.content-menu .big-menu li span {
	display: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #E94F25;
	position: absolute;
	top: 10px;
	left: -15px;
}

.top-area-content .content-about {
	width: 28%;
	height: 100px;
	/*background-color: green;*/
}

.top-area-content .top-content{
	position: absolute;
	top: 105px;
	left: 400px;
}
.top-area-content .top-content .firstul li .gaishu{
	width: 570px;
	height: 60px;
	text-indent: 2em;
	margin: 10px 0px;
}

.top-area-content .top-content .secondul{
	margin-top: 55px;
	color: #283452;
}
.top-area-content .top-content .secondul li{
	margin-top: 25px;
}
.top-area-content .top-content .secondul b{
	font-size: 22px;
	color: #B1C0C8;
}
.top-area-content .top-content .secondul p{
	font-size: 14px;
}

/*----------------bottom-area---------------*/

.bottom-area {
	width: 100%;
	height: 800px;
	position: relative;
}
.bottom-area>img{
	height: 792px;
}

.bottom-area .bottom-logo{
	width: 295px;
	height: 90px;
	/*background-color: red;*/
	position: absolute;
	top: 12px;
	right: 11px;
}
.bottom-area .bottom-logo img{
	position: absolute;
	top: 0px;
	right: 25px;
	height: 105px;
}
.bottom-logo .menu-logo{
	color: #FFFFFF;
}

.bottom-area .big-menu {
	position: absolute;
	top: 78px;
	left: 40px;
	padding-left: 25px;
	box-sizing: border-box;
}

.bottom-area .big-menu li {
	width: 150px;
	color: #FFFFFF;
	margin-bottom: 40px;
	font-weight: 700;
}
.bottom-area .title-tips {
	position: absolute;
	top: 128px;
	left: 36px;
	width: 250px;
	height: 65px;
	background-image: linear-gradient(0deg,#E5EBEE 50%,#B1C0C8 100%);
	border: 8px solid #E5EBEE;
	border-radius: 40px;
	padding: 8px 15px;
	box-sizing: border-box;
}
.bottom-area .title-tips span{
	display: inline-block;
	font-size: 6px;
}
.bottom-area .detail-menu{
	position: absolute;
	top: 265px;
	left: 174px;
}
.bottom-area .detail-menu>p{
	font-size: 10px;
	font-weight: 700;
}
/*.bottom-area .detail-menu dd{
	font-size: 10px;
	font-weight: 700;
	color: #FFFFFF;
	float: left;
	width: 136px;
	background-color: red;
	margin-right: 2px;
	margin-top: 6px;
}*/
