html,
body {
	height: 100%;
	min-width: 1100px;
}

.titlep {
	color: #E94F25;
	font-size: 13px;
	line-height: 14px;
	font-weight: 700;
}

.titley {
	color: #E94F25;
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
}

.zhongwen {
	font-size: 14px;
	color: #283452;
	line-height: 16px;
	font-weight: 700;
}

.xzhongwen {
	font-size: 14px;
	color: #283452;
	line-height: 16px;
	font-weight: 700;
}

.yingwen {
	font-size: 18px;
	color: #283452;
	line-height: 20px;
	font-weight: 700;
}

.xyingwen {
	font-size: 18px;
	color: #283452;
	line-height: 20px;
	font-weight: 700;
}

.box {
	position: relative;
	width: 100%;
	height: 1900px;
	z-index: 50;
	overflow: hidden;
	min-width: 953px;
}

.lo-ss {
	width: 1100px;
	margin: 0 auto;
}


/*logo搜索开始*/

.loss {
	height: 68px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -550px;
	padding: 0px 20px;
	box-sizing: border-box;
	border: 5px solid #E94F25;
	border-width: 5px 5px 0px 5px;
	position: fixed;
	z-index: 1000;
	background-color: #FFFFFF;
	box-shadow:0px 15px 10px -15px #ccc;
}

.logo {
	float: left;
	margin-top: 20px;
	font-size: 26px;
	line-height: 40px;
	color: #283452;
	font-weight: 700;
	letter-spacing: 5px;
}

.logo a {
	color: #283452;
}

.menu {
	margin-top: 30px;
	margin-left: 40px;
}

.menu .menu-items {
	float: left;
	margin-right: 40px;
	font-weight: 700;
}

.menu .menu-items:hover {
	border-bottom: 4px solid #E94F25;
}

.ssuo {
	float: right;
	width: 320px;
	height: 30px;
	margin-top: 20px;
	position: relative;
}

.ssuo input {
	float: left;
	width: 76%;
	height: 27px;
	padding: 0 10px;
	border: 2px solid #888888;
	border-radius: 3px;
}

.ssuo .search {
	background: #283452;
	float: left;
	width: 30px;
	height: 26px;
	margin-left: 3%;
	padding: 5px 7px;
	box-sizing: border-box;
	border-radius: 3px;
}

.ssuo .search img {
	width: 16px;
}

.ssuo .all {
	width: 30px;
	position: absolute;
	top: -2px;
	right: 0px;
}

.ssuo .all img {
	width: 30px;
}


/*logo搜索结束*/


/*顶部标题开始*/

.top-area-content {
	height: 900px;
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -550px;
	padding: 0 20px;
	box-sizing: border-box;
	border: 5px solid #E94F25;
	border-width: 0px 5px;
}

.top-area-content .bgceng {
	height: 700px;
	width: 870px;
	position: absolute;
	top: 40px;
	right: 0px;
}

.top-area-content .bgceng img {
	width: 892px;
}

.top-area-content>div {
	float: left;
	margin-right: 2%;
}

.top-area-content .content-menu {
	margin-top: 40px;
	width: 25%;
}

.content-menu .big-menu {
	padding-left: 6%;
	box-sizing: border-box;
}

.content-menu .big-menu li {
	width: 170px;
	margin-bottom: 10px;
	font-weight: 700;
}

.content-menu .big-menu li a {
	color: #888888;
}

.content-menu .big-menu li.menu-acticve {
	position: relative;
}

.content-menu .big-menu .menu-acticve:hover span {
	display: block;
}

.content-menu .big-menu li span {
	display: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #E94F25;
	position: absolute;
	top: 10px;
	left: -15px;
}

.top-area-content .top-content {
	position: absolute;
	top: 195px;
	right: 16%;
}

.top-area-content .top-content .firstul li .gaishu {
	width: 570px;
	height: 60px;
	text-indent: 2em;
	margin: 10px 0px;
}

.top-area-content .top-content .secondul {
	/*margin-top: 55px;*/
	color: #283452;
}

.top-area-content .top-content .secondul li {
	margin-top: 25px;
}

.top-area-content .top-content .secondul b {
	font-size: 22px;
	color: #888888;
}

.top-area-content .top-content .secondul p {
	font-size: 14px;
	color: #888888;
}


/*顶部标题结束*/


/*底部部分开始*/

.bottom-area {
	position: absolute;
	margin: 0 auto;
	top: 940px;
	left: 50%;
	margin-left: -550px;
	border: 5px solid #E94F25;
	border-width: 0px 5px 5px 5px;
}

.bottom-area>img {
	width: 101%;
}

.bottom-area-content {
	height: 883px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -550px;
	color: #FFFFFF;
}

.bottom-area-content .toptop {
	width: 935px;
	height: 270px;
	margin: 25px 0px;
	position: absolute;
	top: 0px;
	left: 80px;
}

.bottom-area-content .big-title {
	margin-left: 340px;
}

.bottom-area-content .big-title .zhongwen,
.bottom-area-content .big-title .yingwen {
	color: #FFFFFF;
}

.bottom-area-content .bottom-txt .bottom-img {
	width: 180px;
	height: 180px;
	border-radius: 15px;
	background-color: #283452;
	position: absolute;
	top: 30px;
	left: 80px;
}

.bottom-area-content .bottom-txt .bottom-img>img {
	width: 80px;
	padding-top: 80px;
	padding-left: 20px;
	box-sizing: border-box;
}

.bottom-area-content .bottom-txt .bottom-Article {
	width: 580px;
	position: absolute;
	top: 60px;
	left: 355px;
}

.bottom-area-content .bottomB {
	width: 935px;
	height: 700px;
	position: absolute;
	top: 300px;
	left: 80px;
}

.bottom-area-content .bottomB .ddd-img {
	width: 340px;
	height: 260px;
	background-color: #FFFFFF;
	overflow: hidden;
}

.bottom-Article .ddd-img>img,
.bottom-Article .ddd-img>video {
	width: 340px;
	padding-top: 35px;
	box-sizing: border-box;
}

.bottom-area-content .bottomB .bottom-Article {
	margin-top: 30px;
	height: 350px;
}

.bottom-area-content .bottomB .ddd {
	width: 580px;
	height: 400px;
	position: absolute;
	top: -10px;
	left: 355px;
}

.bottom-area-content .bottomB .ddd>div {
	margin: 0px 0px 5px;
	font-size: 16px;
	font-weight: 700;
}

.bottom-txt .bottom-Article p {
	text-indent: 2em;
	font-size: 12px;
	text-align: justify;
	text-justify: inter-ideograph;
}


/*底部部分结束*/