html,
body {
	height: 100%;
	min-width: 1100px;
}
.titlep{
	color: #E94F25;
	font-size:13px ;
	line-height: 14px;	
	font-weight: 700;
}
.titley{
	color: #E94F25;
	font-size:14px ;
	line-height: 18px;
	font-weight: 700;
}
.zhongwen{
	font-size: 14px;
	color: #283452;
	line-height: 16px;
	font-weight: 700;
}
.xzhongwen{
	font-size: 14px;
	color: #283452;
	line-height: 16px;
	font-weight: 700;
}
.yingwen{
	font-size: 18px;
	color: #283452;
	line-height: 20px;
	font-weight: 700;
}
.xyingwen{
	font-size: 18px;
	color: #283452;
	line-height: 20px;
	font-weight: 700;
}

.box {
	position: relative;
	width: 100%;
	height: 3000px;
	z-index: 50;
	overflow: hidden;
	min-width: 953px;
	/*border: 5px solid #E94F25;*/
}

.lo-ss {
	width: 1100px;
	margin: 0 auto;
}
/*logo搜索开始*/
.loss {
	width: 1100px;
	height: 68px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -550px;
	padding: 0px 20px;
	box-sizing: border-box;
	border: 5px solid #E94F25;
	border-width: 5px 5px 0px 5px;
	
}

.logo {
	float: left;
	margin-top: 20px;
	font-size: 26px;
	line-height: 40px;
	color: #283452;
	font-weight: 700;
	letter-spacing: 5px;
}
.logo a{
	color: #283452;
}
.menu {
	margin-top: 30px;
	margin-left: 40px;
}

.menu .menu-items {
	float: left;
	margin-right: 40px;
	font-weight: 700;
}

.menu .menu-items:hover {
	border-bottom: 4px solid #E94F25;
}

.ssuo {
	float: right;
	width: 320px;
	height: 30px;
	margin-top: 20px;
	position: relative;
}

.ssuo input {
	float: left;
	width: 76%;
	height: 27px;
	padding: 0 10px;
	border: 2px solid #888888;
	border-radius: 3px;
}

.ssuo .search {
	background: #283452;
	float: left;
	width: 30px;
	height: 26px;
	margin-left: 3%;
	padding: 5px 7px;
	box-sizing: border-box;
	border-radius: 3px;
}

.ssuo .search img {
	width: 16px;
}

.ssuo .all {
	width: 30px;
	position: absolute;
	top: -2px;
	right: 0px;
}

.ssuo .all img {
	width: 30px;
}

/*logo搜索结束*/

/*顶部标题开始*/
.top-area-content {
	height: 900px;
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -550px;
	padding: 0 20px;
	box-sizing: border-box;
	border: 5px solid #E94F25;
	border-width: 0px 5px ;
}
.top-area-content .bgceng {
	height: 700px;
	width: 870px;
	position: absolute;
	top: 40px;
	right: 0px;
}

.top-area-content .bgceng img {
	width: 892px;
}
.top-area-content>div {
	float: left;
	margin-right: 2%;
}

.top-area-content .content-menu {
	margin-top: 40px;
	width: 25%;
}

.content-menu .big-menu {
	padding-left: 6%;
	box-sizing: border-box;
}

.content-menu .big-menu li{
	width: 170px;
	margin-bottom: 10px;
	font-weight: 700;
}

.content-menu .big-menu li a{
	color: #888888;
}
.content-menu .big-menu li.menu-acticve {
	position: relative;
}

.content-menu .big-menu .menu-acticve:hover span {
	display: block;
}

.content-menu .big-menu li span {
	display: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #E94F25;
	position: absolute;
	top: 10px;
	left: -15px;
}
.top-area-content .top-content{
	position: absolute;
	top: 195px;
	right: 16%;
}

.top-area-content .top-content .firstul li .gaishu{
	width: 570px;
	height: 60px;
	text-indent: 2em;
	margin: 10px 0px;
}

.top-area-content .top-content .secondul{
	/*margin-top: 55px;*/
	color: #283452;
}
.top-area-content .top-content .secondul li{
	margin-top: 25px;
}
.top-area-content .top-content .secondul b{
	font-size: 22px;
	color: #888888;
}
.top-area-content .top-content .secondul p{
	font-size: 14px;
	color: #888888;
}
/*顶部标题结束*/

/*中间部分开始*/
.middle-area {
	/*height: 80px;*/
	position: absolute;
	margin: 0 auto;
	top: 940px;
	left: 50%;
	margin-left: -550px;
	background-color: #283452;
	border: 5px solid #E94F25;
	border-width: 0px 5px;
}
.middle-area .bg-img{
	width: 1100px;
}
.bottom-logo{
	width: 295px;
	height: 90px;
	position: absolute;
	top: 50px;
	right: 10%;
	font-size: 26px;
	line-height: 40px;
	color: #FFFFFF;
	font-weight: 700;
	letter-spacing: 5px;
}
.bottom-logo>a,
.bottom-logo>a:focus{
	color: #FFFFFF;
}
.middle-area .big-title{
	position: absolute;
	top: 105px;
	left: 6%;
}
.middle-area .s-title{
	width: 280px;
	position: absolute;
	top: 21%;
	left: 6%;
}
.middle-area .s-title span{
	display: block;
	float: left;
	width: 78px;
	margin-right: 6px;
	text-align: left;
	color: #283452;
	font-weight: 700;
}
.middle-area .s-title span:nth-of-type(3),
.middle-area .s-title span:nth-of-type(6){
	margin-right: 0px;
}
.agg{
	width: 1100px;
	margin: 0 auto;
}
.middle-area .menu-detail{
	height: 100px;
	position: absolute;
	padding-left: 138px;
	top: 268px;
	/*background-color: red;*/
	/*opacity: 0.1;*/
}
.menu-detail ul{
	overflow: hidden;
}
.menu-detail ul li{
	float: left;
}

.a-ul{
	position: relative;
}

.a-ul ul:nth-of-type(1) li,
.a-ul ul:nth-of-type(4) li,
.a-ul ul:nth-of-type(7) li{
	font-size: 14px;
	color: #283452;
	text-align: center;
	line-height: 24px;
	width: 134px;
	font-weight: 700;
	margin-top: 6px;
	margin-left: 6px;
}

.a-ul ul:nth-of-type(2) li,
.a-ul ul:nth-of-type(3) li,
.a-ul ul:nth-of-type(5) li,
.a-ul ul:nth-of-type(6) li{
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	line-height: 24px;
	width: 134px;
	font-weight: 700;
	margin-top: 1px;
	margin-left: 6px;
}
.a-ul ul:nth-of-type(3) li{
	margin-top: 4px;
}
.a-ul ul:nth-of-type(4) li{
	margin-top: 8px;
}
.a-ul ul:nth-of-type(6) li{
	margin-top: 5px;
}
.a-ul ul:nth-of-type(7){
	position: absolute;
	top: 122px;
	right: 260px;
}
.b-ul,
.c-ul{
	position: absolute;
	top: 275px;
	left: 115px;
}
.b-ul>ul{
	float: left;
}
.b-ul ul li,
.c-ul ul li{
	font-size: 14px;
	color: #FFFFFF;
	text-align: left;
	line-height: 24px;
	width: 150px;
	font-weight: 700;
	margin-top: 1px;
	margin-left: 6px;
	float: none;
}
.c-ul{
	top: 230px;
	left: auto;
	right: 150px;
}
.c-ul ul{
	margin-top: 10px;
}
.c-ul ul li{
	font-size: 15px;
	
}
/*中间部分结束*/

/*底部部分开始*/
.bottom-area{
	/*height: 400px;*/
	position: absolute;
	margin: 0 auto;
	top: 1765px;
	left: 50%;
	margin-left: -550px;
	border: 5px solid #E94F25;
	border-width: 0px 5px 5px 5px;
}
.bottom-area>img{
	width: 101%;
}
.bottom-area-content{
	height: 500px;
	position: absolute;
	top: 300px;
	left: 50%;
	margin-left: -550px;
}

.bottom-area-content .bottom-txt{
	width: 764px;
	color: #FFFFFF;
	position: absolute;
	top: 32px;
	left: 250px;
}
.bottom-txt .banner-swiper{
	margin-top: 50px;
}
.middle-area .zhongwen,
.middle-area .yingwen,
.bottom-area-content .zhongwen,
.bottom-area-content .yingwen{
	color: #FFFFFF;
}
.bottom-area-content .bottom-Article .ddd{
	width: 564px;
	float: right;
}
.bottom-area-content .bottom-Article .ddd>div{
	font-size: 16px;
	font-weight: 700;
}
.bottom-area-content .bottom-Article p{
	text-indent: 2em;
	font-size: 12px;
	text-align: justify;
    text-justify: inter-ideograph;/*IE*/
}

.bottom-Article .bottom-img{
	width: 180px;
	height: 180px;
	border-radius: 15px;
	background-color: #E94F25;
	float: left;
}
.bottom-Article .bottom-img img{
	width: 80px;
	padding-top: 80px;
	padding-left: 20px;
	box-sizing: border-box;
}
/*底部部分结束*/