html,
body {
	height: 100%;
	min-width: 1200px;
}
.titlep{
	color: #E94F25;
	font-size:10px ;
	line-height: 14px;
	font-weight: 700;
}
.titley{
	color: #E94F25;
	font-size:14px ;
	line-height: 18px;
	font-weight: 700;
}
.zhongwen{
	font-size: 14px;
	color: #FFFFFF;
	line-height: 16px;
	font-weight: 700;
}
.xzhongwen{
	font-size: 10px;
	color: #FFFFFF;
	line-height: 16px;
	font-weight: 600;
}
.yingwen{
	font-size: 18px;
	color: #FFFFFF;
	line-height: 20px;
	font-weight: 700;
}
.xyingwen{
	font-size: 14px;
	color: #FFFFFF;
	line-height: 20px;
	font-weight: 600;
}

.box {
	position: relative;
	width: 100%;
	height: 3000px;
	z-index: 50;
	overflow: hidden;
	min-width: 953px;
	border: 5px solid #E94F25;
}

.lo-ss {
	width: 1100px;
	margin: 0 auto;
}
/*logo搜索开始*/
.loss {
	height: 68px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -550px;
	box-sizing: border-box;
}

.logo {
	float: left;
	margin-top: 20px;
	font-size: 26px;
	line-height: 40px;
	color: #283452;
	font-weight: 700;
	letter-spacing: 8px;
}

.menu {
	margin-top: 30px;
	margin-left: 40px;
}

.menu .menu-items {
	float: left;
	margin-right: 40px;
	font-weight: 700;
}

.menu .menu-items:hover {
	border-bottom: 4px solid #E94F25;
}

.ssuo {
	float: right;
	width: 320px;
	height: 30px;
	margin-top: 20px;
	position: relative;
}

.ssuo input {
	float: left;
	width: 76%;
	height: 27px;
	padding: 0 10px;
	border: 2px solid #B1C0C8;
	border-radius: 3px;
}

.ssuo .search {
	background: #003660;
	float: left;
	width: 30px;
	height: 26px;
	margin-left: 3%;
	padding: 5px 7px;
	box-sizing: border-box;
}

.ssuo .search img {
	width: 16px;
}

.ssuo .all {
	width: 30px;
	position: absolute;
	top: -2px;
	right: 0px;
}

.ssuo .all img {
	width: 30px;
}

/*logo搜索结束*/

/*顶部标题开始*/
.top-area-content {
	height: 900px;
	box-sizing: border-box;
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -550px;
}
.top-area-content .bgceng {
	height: 700px;
	width: 1000px;
	position: absolute;
	top: 40px;
	right: 0px;
}

.top-area-content .bgceng img {
	width: 1030px;
}
.top-area-content>div {
	float: left;
	margin-right: 2%;
}

.top-area-content .content-menu {
	margin-top: 40px;
	width: 25%;
}

.content-menu .big-menu {
	padding-left: 2%;
	box-sizing: border-box;
}

.content-menu .big-menu li {
	width: 170px;
	color: #B1C0C8;
	margin-bottom: 10px;
	font-weight: 700;
}

.content-menu .big-menu li.menu-acticve {
	position: relative;
}

.content-menu .big-menu .menu-acticve:hover span {
	display: block;
}

.content-menu .big-menu li span {
	display: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #E94F25;
	position: absolute;
	top: 10px;
	left: -15px;
}
.top-area-content .top-content{
	position: absolute;
	top: 195px;
	right: 16%;
}

.top-area-content .top-content .firstul li .gaishu{
	width: 570px;
	height: 60px;
	text-indent: 2em;
	margin: 10px 0px;
}

.top-area-content .top-content .secondul{
	/*margin-top: 55px;*/
	color: #283452;
}
.top-area-content .top-content .secondul li{
	margin-top: 25px;
}
.top-area-content .top-content .secondul b{
	font-size: 22px;
	color: #B1C0C8;
}
.top-area-content .top-content .secondul p{
	font-size: 14px;
}
/*顶部标题结束*/

/*中间部分开始*/
.middle-area {
	/*height: 80px;*/
	position: absolute;
	margin: 0 auto;
	top: 940px;
	left: 50%;
	margin-left: -550px;
	background-color: #283452;
}
.middle-area .bg-img{
	width: 1100px;
}
.bottom-logo{
	width: 295px;
	height: 90px;
	position: absolute;
	top: 75px;
	right: 6%;
	font-size: 26px;
	line-height: 40px;
	color: #FFFFFF;
	font-weight: 700;
	letter-spacing: 8px;
}
.middle-area .big-title{
	position: absolute;
	top: 105px;
	left: 6%;
}
.middle-area .s-title{
	width: 280px;
	position: absolute;
	top: 21%;
	left: 6%;
}
.middle-area .s-title span{
	display: block;
	float: left;
	width: 78px;
	margin-right: 6px;
	text-align: left;
	color: #283452;
	font-weight: 700;
}
.middle-area .s-title span:nth-of-type(3),
.middle-area .s-title span:nth-of-type(6){
	margin-right: 0px;
}
.agg{
	width: 1100px;
	margin: 0 auto;
}
.middle-area .menu-detail{
	height: 100px;
	position: absolute;
	padding-left: 138px;
	top: 268px;
	/*background-color: red;*/
	/*opacity: 0.1;*/
}
.menu-detail ul{
	overflow: hidden;
}
.menu-detail ul li{
	float: left;
}

.all-dh{
	/*margin: 5px 0;*/
}

.all-dh ul:nth-of-type(1) li,
.all-dh ul:nth-of-type(4) li,
.all-dh ul:nth-of-type(7) li{
	font-size: 14px;
	color: #283452;
	text-align: center;
	line-height: 24px;
	width: 134px;
	font-weight: 700;
	margin-top: 6px;
	margin-left: 6px;
}

.all-dh ul:nth-of-type(2) li,
.all-dh ul:nth-of-type(3) li,
.all-dh ul:nth-of-type(5) li,
.all-dh ul:nth-of-type(6) li{
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	line-height: 24px;
	width: 134px;
	font-weight: 700;
	margin-top: 1px;
	margin-left: 6px;
}
.all-dh ul:nth-of-type(3) li{
	margin-top: 4px;
}
.all-dh ul:nth-of-type(4) li{
	margin-top: 8px;
}
.all-dh ul:nth-of-type(6) li{
	margin-top: 5px;
}

/*中间部分结束*/