
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501743356058'); /* IE9*/
  src: url('iconfont.eot?t=1501743356058#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501743356058') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501743356058') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501743356058#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-call:before { content: "\e683"; }

.icon-weibo:before { content: "\e620"; }

.icon-q:before { content: "\e600"; }

.icon-gf:before { content: "\e632"; }

.icon-wx:before { content: "\e659"; }

.icon-pdf:before { content: "\e6ae"; }

.icon-sousuo:before { content: "\e60c"; }

